:root {
    --text-color: #212121;
    --logo-colour: #2196f3;
    --title-color: #FFFFF;
    --paragraphs-color: #757575;
    --bg-color: #f5f4fa;
  }
  body {
    font-family: Roboto;
    line-height: 1.14;
  }
  .header-logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
  .header-span {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
  .header-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header-link:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header-mail {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header-mail:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header-phone {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header-phone:hover {
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .hero-title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
  .hero-button {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .hero-caption {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    width: 270px;
  }
  .hero-text {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  .do-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
  }
  .team-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
  }
  .team-name {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
  }
  .team-paragraph {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
  }
  .footer-span {
    color: #2196f3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
  .footer-logo {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
  .footer-address {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
  }
  .footer-mail {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
  }
  .footer-tel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    width: 231px;
    height: 21px;
    flex-shrink: 0;
  }
  